.contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.contacts-body {
    display: flex;
    flex-direction: column;
    color: #fff;
}

.contacts-header {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    color: #a9afbbd1;
}

.contacts-header i {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    margin-right: 20px;
    font-size: 24px;
    border-radius: 20px;
    color: #fff;
    background: linear-gradient(60deg, rgb(123, 31, 162), rgb(145, 63, 158));
}

.contacts-header i:hover {
    cursor: pointer;
}

.simple-contacts {
    border-radius: 5px;
    margin-bottom: 10px;
}

.simple-contacts, .company-contacts {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 5px;
}

.simple-contacts ul, .company-contacts ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
}

.simple-contacts ul li, .company-contacts ul li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    min-height: 40px;
    color: #a9afbbd1;
    border-radius: 5px;
    background-color: #202940;
}

.simple-contacts .contact-photo, .company-contacts .contact-photo {
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
}

.contact-info-text {
    display: flex;
    flex-direction: column;
}

.simple-contacts .contact-info, .company-contacts .contact-info {
    display: flex;
    margin-left: 10px;
}

.contact-actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.contact-actions-edit {
    color: #288c6c;
}

.contact-actions-edit:hover {
    color: #4ea752;
    font-size: 20px;
}

.contact-actions-delete {
    color: #a11703;
}

.contact-actions-delete:hover {
    cursor: pointer;
    color: #d62106;
    font-size: 20px;
}

.contact-actions-favorite {
    font-size: 18px;
    color: #cfb742;
}

.contact-actions-favorite:hover {
    font-size: 20px;
    color: #f5d849;
}

.form-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(32,41,64, 0.8);
    width: 100%;
    border-radius: 5px;
    position: fixed;
    top: 0;
    right: auto;
    left: auto;
    bottom: 0;
    z-index: 3;
}

.form-interface .register-buttons {
    display: flex;
    margin-top: 10px;
}

.form-interface .fieldset button, .form-interface .form-submit {
    border: 0;
    background: linear-gradient(60deg, rgb(123, 31, 162), rgb(145, 63, 158));
    color: #fff;
    border-radius: 5px;
    padding: 5px;
}

.form-interface .form-submit {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
}

.form-interface .fieldset button + button {
    margin-left: 10px;
}

.save-contact-form {
    display: flex;
    flex-direction: column;
}

.save-contact-form .fieldset {
    display: flex;
    align-items: center;
}

.save-contact-form form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.save-contact-form .fieldset input {
    border: 1px solid #a9afbbd1;
    border-radius: 4px;
    min-height: 26px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    background-color: transparent;
    color: #fff;
}

.fieldset + .fieldset {
    padding: 0;
    margin-top: 10px;
}

.save-contact-form .form-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(206, 212, 218);
    font-size: 24px;
    min-width: 26px;
    min-height: 26px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    color: #913f9e;
}

.save-contact-form .form-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    min-width: 60px;
    min-height: 60px;
    max-width: 60px;
    max-height: 60px;
    background: rgb(7,2,13);
    background: linear-gradient(45deg, rgba(7,2,13,1) 0%, rgba(4,1,5,1) 0%, rgba(42,15,51,1) 0%, rgba(100,17,115,1) 0%, rgba(98,18,109,1) 0%, rgba(98,18,108,1) 0%, rgba(30,15,31,1) 6%, rgba(158,51,162,1) 73%, rgba(203,35,198,1) 100%, rgba(0,212,255,1) 100%);
    margin-top: 20px;
    margin-bottom: 20px;
}

.save-contact-form .form-header .form-header-icon{
    font-size: 40px;
    color: rgb(206, 212, 218);
}

.spinner-save-contact {
    z-index: 100;
    font-weight: bold;
    position: fixed;
    bottom: auto;
    left: auto;
    right: auto;
    top: auto;
}

#search-form {
    display: flex;
}

#search-form input {
    border: 0;
    border-bottom: 0.5px solid #a9afbbd1;
    background-color: transparent;
    color: #fff;
    outline: none;
}

#search-form button {
    border: 0;
    background-color: #9095a2;
    color: #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

@media (max-width: 380px) {
    #sidebar ul li a {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #sidebar ul li a p {
        margin-left: 0;
        font-size: 14px;
    }
    #sidebar h3 {
        font-size: 18px;
        padding-top: 10px;
    }
    .contacts-header {
        display: flex;
        flex-direction: column;
        margin-left: -50px;
        align-items: center;
    }
    .contacts-header input {
        margin-left: 20px;
    }
}

@media (max-width: 740px) {
    .simple-contacts, .company-contacts {
        margin-left: -52px;
        width: auto;
    }
    .simple-contacts .contact-info, .company-contacts .contact-info {
        flex-direction: column;
        align-items: center;
    }
    .simple-contacts ul li, .company-contacts ul li {
        flex-direction: column;
    }
    .simple-contacts li .contact-actions, .company-contacts li .contact-actions {
        flex-direction: row;
        justify-content: space-around;
    }
    .contacts-header {
        display: flex;
        flex-direction: column;
        margin-left: -50px;
        align-items: center;
    }
    .contacts-header i {
        max-width: 40px;
        max-height: 40px;
        align-self: flex-end;
        margin-top: 10px;
        width: auto;
    }
    .contacts-header input {
        align-self: flex-end;
    }

}